/* use custom CSS variables */
:root {
  --blueBell: #A491D3;
  --shadowBlue: #818AA3;
  --mediumSpringBud: #C5DCA0;
  --blond: #F5F2B8;
  --champagnePink: #F9DAD0;
}

body {
  font-family: 'Slabo 27px', serif !important; /* !important overrides default bootstrap values */
  background: white;
  color: var(--shadowBlue) !important; /* text color */
}

.text-title {
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
}

.text-green {
  color: var(--mediumSpringBud);
}

.text-bright {
  color: var(--blond);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.9rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid black !important;
}

.btn-black:hover {
  background: pink !important;
  color: white !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--mediumSpringBud);
}