/* use custom CSS variables */
:root {
  --blueBell: #A491D3;
  --shadowBlue: #818AA3;
  --mediumSpringBud: #C5DCA0;
  --blond: #F5F2B8;
  --champagnePink: #F9DAD0;
}

body {
  font-family: 'Slabo 27px', serif !important; /* !important overrides default bootstrap values */
  background: var(--champagnePink) !important;
  color: var(--shadowBlue) !important; /* text color */
}

.text-title {
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
}

.text-green {
  color: var(--mediumSpringBud);
}

.text-bright {
  color: var(--blond);
}